doctype html
html(lang = "en")
  head
    title #{title}
    meta(name = "viewport", content = "width=device-width, initial-scale=1")
    meta(name = "theme-color", content = "#000")
    style(type = "text/css")
      :cssmin
        * {
          box-sizing: border-box;
          font-family: monospace;
          word-break: inherit;
          font-size: inherit;
          color: #fff;
        }
        body {
          background-color: #000;
        }
        a:link, a:visited, a:active {
          color: inherit;
          text-decoration: none;
        }
        .z {
          display: inline-block;
          background-color: #222;
          border-radius: 2px;
          min-width: 36pt;
          text-align: center;
        }
        .ls {
          word-break: break-all;
          font-size: 20px;
          max-width: 100%;
          border-collapse: collapse;
        }
        .ls tr {
          vertical-align: baseline;
        }
      if readme
        :cssmin
          pre {
            white-space: pre-wrap;
          }
      if dirs || files
        :cssmin
          .ls tr:nth-child(2n) {
            background-color: #222;
          }
          .ls tr td * {
            display: block;
          }
          .s, .s * {
            text-align: right;
          word-break: normal;
          }
          .s * {
            padding-left: 0.5em;
          }
      if thumbs
        :cssmin
          img {
            border: solid 1px #888;
            border-radius: 4px;
          }
          .th {
            text-align: justify;
            font-size: 1px;
          }
          .th a {
            display: inline-block;
            text-align: center;
            padding: 2px 1px 2px 1px;
            vertical-align: middle;
          }
  body
    if readme
      a(href = readme.uri)
        pre #{readme.readme}
    if thumbs
        div.th
          each f in thumbs
            a(href = f.uri, title = f.name + " (" + f.size + ")")
              img(src = f.thumb)
            | #{" "}
    if dirs || files
      table.ls
        tbody
          if dirs
            each f, idx in dirs
              tr
                td
                  a(href = f.uri) #{f.name}/
                td.s
                  a(data-ref = f.uri)
                    | &#160;
          if files
            each f in files
              tr
                td
                  a(href = f.uri) #{f.name}
                td.s
                  a(data-ref = f.uri)
                    if f.size
                      | #{f.size}
                    else
                      | &#160;
    div.ls(style = "margin-top: 1em")
      | #{"recursive "}
      a.z(data-ref = "?auth=" + auth + "&archive=zip") zip
      | #{" "}
      a.z(data-ref = "?auth=" + auth + "&archive=tar") tar
      | #{" "}
      a.z(data-ref = "?auth=" + auth + "&rss=" + config.rssdefault) rss
    a(name = "end")
    script(type = "text/javascript")
      | for(var i=0,r="data-ref",l=document.getElementsByTagName("a");i<l.length;i++)l[i].hasAttribute(r)&&l[i].setAttribute("href",l[i].getAttribute(r));
