doctype html
html(lang = "en")
  head
    title #{title}
    meta(name = "viewport", content = "width=device-width, initial-scale=1")
    style(type = "text/css")
      :cssmin
        * {
          box-sizing: border-box;
       	  font-family: monospace;
       	  word-break: inherit;
       	  font-size: inherit;
          color: #fff;
        }
        body {
          background-color: #000;
        }
        a:link, a:visited, a:active {
       	  color: inherit;
       	  text-decoration: none;
        }
        pre {
       	  white-space: pre-wrap;
        }
        input {
          padding-top: auto;
          padding-bottom: auto;
          background-color: #111;
          vertical-align: middle;
          height: 3em;
          border: 1px solid #888;
        }
  body
    if done
      a(href = done.uri, style="display:block;margin-bottom:1em")
        strong Uploaded File:
        div #{done.name}
      hr
    a(href = uri)
      pre #{text}
    form(method = "POST", enctype = "multipart/form-data")
      input(type = "file", name = "file")
      input(type = "submit", value = "upload")
