mixin escape
  - var oldBuf = pug_html;
  - pug_html = "";
  block
  - pug_html = oldBuf + pug.escape(pug_html);
doctype xml
rss(version = "2.0")
  channel
    title #{name}
    description Most-recently modified files in #{baseUrl}#{path}
    link #{absroot}#{originalUrl}
    ttl 900
    each i in items
      item
        title #{i.name}
        guid(isPermaLink = "false") #{i.guid}
        pubDate #{i.mtime}
        link #{absroot}#{baseUrl}#{path}#{i.name}?auth=#{i.auth}
        description
          +escape()
            dl
              dt Path:
              dd #{i.name}
              dt Modified:
              dd #{i.mtime}
              dt Changed:
              dd #{i.ctime}
              dt Size:
              dd #{i.size.toLocaleString()} bytes
